body{background-color: lightgray;}
[class^="box-"]{
	background-clip: content-box;
	background-color: lime;
	width: 300px;
	height: 300px;
	padding: 50px;
	border: 30px solid black;
	margin: 50px;
}
.box-2{
	background-clip: content-box;
	background-sizing: border-box;
}
.box{
	
	background-color: lime;
	
	width: 300px;
	height: 200px;
	margin: 50px;
}




